body {
		background-color: lightgrey;
	}

.container0 {
		position: relative;
		width: 100%;
		background-color: white;
		height: 85px;
		border-bottom-style: solid;
		border-color: darkgrey;
		border-width: 2px;
		margin: 0px 0px 28px 0px;
	}

.title_container {
		width: 960px;
		margin: auto;
	}

.titlebox {
		width: 330px;
		color: white;
		text-align: left;
		font-size: 30px;
		background-color: teal;
		padding: 28px;
		float: left;
	}

.link_container {
		float: right;
		margin: 33px 0px 33px 0px;
	}

.link {
		color: grey;
		text-decoration: none;
		font-size: 20px;
		margin: 0px 0px 0px 20px;
	}

.container1 {
		background-color: white;
		border-style: solid;
		border-color: darkgrey;
		border-width: 1px;
		padding: 28px;
		width: 650px;
		margin: auto;
	}

.content_heading {
		color: teal;
		font-size: 30px;
		margin: 0px 0px 28px 0px;
		clear: both;
		border-bottom-style: solid;
		border-color: darkgrey;
		border-width: 2px;
		padding: 0px 0px 28px 0px;
	}

#me {
		width: 250px;
		height: auto;
		float: left;
		margin: 0px 28px 14px 0px;
	}

.text1 {
		float: left;
	}